.title {
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	color: #FFD200;
	text-shadow: 2px 2px #969696;
}

.vis {
	position: fixed;
	top: 300px;
}

body {
	background-image: url("images/sfskyline.jpg");
}